.success {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.966);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.success .success-content {
  display: flex;
  flex-direction: column;
}

.success .success-content h1 {
  color: var(--background);
  margin-top: 20px;
}
